<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="navbar-header">
          <%= link_to "abhShoes", '/', class: "navbar-brand" %>
        </div>

        <span class="pull-right">
          <% if current_user %>
            <div class="navbar-header">
              <p class="navbar-brand"> <%= current_user.email %> </p>
              <p class="navbar-brand"> | </p>
              <%= link_to "Logout", '/logout', class: "navbar-brand" %>
            </div>
          <% else %>
            <div class="navbar-header">
              <%= link_to 'LOGIN', '/login', class: "navbar-brand" %>  
              <p class="navbar-brand"> | </p>
              <%= link_to 'REGISTER', '/signup', class: "navbar-brand" %>
            </div>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</nav>

