<div class="container">
    <div class="row">
        <%= form_tag class: "form-inline" do %>

            <table id="shoe-form-table">
                <tr>
                    <td class="shoe-form-col-1">
                        Size
                    </td>
                    <td class="shoe-form-col-2">
                        Quantity
                    </td>
                </tr>
                <tr>
                    <td class="shoe-form-col-1">            
                        <%= select_tag "size", "<option>test</option>".html_safe, 
                            id:"shoe-form-select", class: "form-control" %>
                    </td>
                    <td class="shoe-form-col-2">
                        <%= text_field_tag :quantity, "1", 
                            id: "shoe-form-text-field", class: "form-control" %> 
                    </td>
                </tr>
                <tr id="shoe-form-row-btn">
                    <td class="shoe-form-col-3">
                        <%= submit_tag "ADD TO CART", id: "formButton", class: "btn btn-success" %>
                    </td>
                    <td class="shoe-form-col-3">
                        <%= submit_tag "BUY NOW", id: "formButton", class: "btn btn-success" %>
                    </td>
                </tr>
            </table>
                              
        <% end %>
    </div>
</div>

