Create your account!
<%= link_to 'Login to your account', '/login' %>

<%= form_with scope: :user, url: '/users' do |f| %>

  <% if @user && @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  EMAIL <br> 
  <%= f.text_field :email %>
  <br>
  PASSWORD <br> 
  <%= f.password_field :password %>
  <br>
  PASSWORD CONFIRMATION <br> 
  <%= f.password_field :password_confirmation %>
  <br>
  <%= f.submit "CREATE ACCOUNT" %>

<% end %>

